In [24]:
import pandas as pd




df = pd.read_excel('dataset.xlsx')

df.head()

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,...,Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

In [25]:
df.columns

Index(['Unique ID', 'Email', 'Date Taken (America/New_York)',
       'Time Taken (America/New_York)', 'Browser', 'OS', 'City', 'Country',
       'Referrer', 'Time Spent',
       'Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q3 - Current Yearly Salary (in USD)',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Q13 - Ethnicity'],
      dtype='object')

### Cleaning Question 1

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 28 columns):
 #   Column                                                                                        Non-Null Count  Dtype
---  ------                                                                                        --------------  -----
 0   Unique ID                                                                                     630 non-null    object
 1   Email                                                                                         630 non-null    object
 2   Date Taken (America/New_York)                                                                 630 non-null    object
 3   Time Taken (America/New_York)                                                                 630 non-null    object
 4   Browser                                                                                       0 non-null      float64
 5   OS                                                                                            0 non-null      float64
 6   City                                                                                          0 non-null      float64
 7   Country                                                                                       0 non-null      float64
 8   Referrer                                                                                      0 non-null      float64
 9   Time Spent                                                                                    630 non-null    object
 10  Q1 - Which Title Best Fits your Current Role?                                                 630 non-null    object
 11  Q2 - Did you switch careers into Data?                                                        630 non-null    object
 12  Q3 - Current Yearly Salary (in USD)                                                           630 non-null    object
 13  Q4 - What Industry do you work in?                                                            630 non-null    object
 14  Q5 - Favorite Programming Language                                                            630 non-null    object
 15  Q6 - How Happy are you in your Current Position with the following? (Salary)                  623 non-null    float64
 16  Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)       620 non-null    float64
 17  Q6 - How Happy are you in your Current Position with the following? (Coworkers)               619 non-null    float64
 18  Q6 - How Happy are you in your Current Position with the following? (Management)              618 non-null    float64
 19  Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)         617 non-null    float64
 20  Q6 - How Happy are you in your Current Position with the following? (Learning New Things)     625 non-null    float64
 21  Q7 - How difficult was it for you to break into Data?                                         630 non-null    object
 22  Q8 - If you were to look for a new job today, what would be the most important thing to you?  630 non-null    object
 23  Q9 - Male/Female?                                                                             630 non-null    object
 24  Q10 - Current Age                                                                             630 non-null    int64
 25  Q11 - Which Country do you live in?                                                           630 non-null    object
 26  Q12 - Highest Level of Education                                                              578 non-null    object
 27  Q13 - Ethnicity                                                                               630 non-null    object
dtypes: float64(11), int64(1), object(16)
memory usage: 137.9+ KB

In [34]:
df.describe()

,Browser,OS,City,Country,Referrer,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q10 - Current Age
count,0.0,0.0,0.0,0.0,0.0,623.000000,620.000000,619.000000,618.000000,617.000000,625.000000,630.000000
mean,NaN,NaN,NaN,NaN,NaN,4.269663,5.741935,5.861066,5.326861,4.756888,5.608000,29.866667
std,NaN,NaN,NaN,NaN,NaN,2.772945,2.761584,2.703244,2.738161,2.820822,3.006659,7.245941
min,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.000000
25%,NaN,NaN,NaN,NaN,NaN,2.000000,4.000000,4.000000,4.000000,3.000000,3.000000,25.000000
50%,NaN,NaN,NaN,NaN,NaN,4.000000,6.000000,6.000000,5.000000,5.000000,6.000000,28.000000
75%,NaN,NaN,NaN,NaN,NaN,7.000000,8.000000,8.000000,7.000000,7.000000,8.000000,33.000000
max,NaN,NaN,NaN,NaN,NaN,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,92.000000

In [27]:
df['Q1 - Which Title Best Fits your Current Role?'].unique()

array(['Data Analyst', 'Data Engineer',
       'Other (Please Specify):Analytics Consultant ', 'Data Scientist',
       'Student/Looking/None', 'Other (Please Specify):FP&A Analyst',
       'Other (Please Specify):BI Developer ',
       'Other (Please Specify):Manager, Business Intelligence Develop',
       'Other (Please Specify):Business Analyst ',
       'Other (Please Specify):Business Analyst',
       'Other (Please Specify):Business Intelligence Consultant',
       'Other (Please Specify):Sr. Supply Chain Analyst ',
       'Other (Please Specify):Business analyst ',
       'Other (Please Specify):Director of Data Analytics',
       'Other (Please Specify):Learning Management Specialist',
       'Other (Please Specify):Research Analyst',
       'Other (Please Specify):Insights analyst',
       'Other (Please Specify):Does a social media analyst count?',
       'Other (Please Specify):Educator',
       'Other (Please Specify):Business Intelligence Engineer',
       'Other (Please Specify):Research Associate ',
       'Other (Please Specify):Analytics Manager',
       'Other (Please Specify):Manager of a team of Data Analysts',
       'Other (Please Specify):Analyst',
       'Other (Please Specify):Analytics Engineer',
       'Other (Please Specify):Analyst Primary Market Intelligence',
       'Other (Please Specify):software engineer', 'Data Architect',
       'Other (Please Specify):Data Integrity', 'Database Developer',
       'Other (Please Specify):Financial Analyst',
       'Other (Please Specify):Database Manager',
       'Other (Please Specify):Software Developer ',
       'Other (Please Specify):Tableau admin', 'Other (Please Specify)',
       'Other (Please Specify):Reporting Adm',
       'Other (Please Specify):Billing analyst',
       'Other (Please Specify):I work with data tools and can create simple dashboards but I am not a data scientist',
       'Other (Please Specify):Marketing Data Specialist',
       'Other (Please Specify):Jr. Data Scientist',
       'Other (Please Specify):Continuous Quality Improvement Specialist',
       'Other (Please Specify):PMO',
       'Other (Please Specify):System Administrator',
       'Other (Please Specify):Teacher',
       'Other (Please Specify):Consultant',
       'Other (Please Specify):Business Intelligence Developer',
       'Other (Please Specify):Informatics Specialist',
       'Other (Please Specify):Business Analys',
       'Other (Please Specify):Finance Analyst ',
       'Other (Please Specify):Web Developer',
       'Other (Please Specify):Manager ',
       'Other (Please Specify):Junior Software Engineer',
       'Other (Please Specify):Researchers ',
       'Other (Please Specify):Senior Business Analyst',
       'Other (Please Specify):Data Coordinator',
       'Other (Please Specify):Student working as a data analyst intern ',
       'Other (Please Specify):Driver',
       'Other (Please Specify):Data manager',
       'Other (Please Specify):GIS Analyst ',
       'Other (Please Specify):Business Intelligence Analyst',
       'Other (Please Specify):BI consultant ',
       'Other (Please Specify):DBA',
       'Other (Please Specify):Data Steward',
       'Other (Please Specify):Technical consulta',
       'Other (Please Specify):Software Engineer, AI ',
       'Other (Please Specify):Systems configuration ',
       'Other (Please Specify):Sales & marketing',
       'Other (Please Specify):RF Engineer',
       'Other (Please Specify):Support Engineer',
       'Other (Please Specify):Account manager',
       'Other (Please Specify):Incident Manager',
       'Other (Please Specify):Product owner',
       'Other (Please Specify):Presales Engineer ',
       'Other (Please Specify):Predictive Analyst',
       'Other (Please Specify):Ads operations',
       'Other (Please Specify):Power Bi Developer',
       'Other (Please Specify):Software support',
       'Other (Please Specify):Investigation specialist',
       'Other (Please Specify):Director',
       'Other (Please Specify):Data Manager',
       'Other (Please Specify):SAP Security Analyst',
       'Other (Please Specify):BI Manager',
       'Other (Please Specify):Data Scientist Intern'], dtype=object)

In [28]:
# Define a list of valid job titles
valid_job = ['data scientist', 'data engineer', 'data analyst', 'database developer', 'data architect', 'others']

# Convert column values to lowercase for uniformity
df['Q1 - Which Title Best Fits your Current Role?'] = df['Q1 - Which Title Best Fits your Current Role?'].str.lower()

# Function to map values to standard job titles
def clean_job_title(title):
    if 'data scientist' in title:
        return 'data scientist'
    elif 'data engineer' in title:
        return 'data engineer'
    elif 'data analyst' in title or 'analyst' in title:
        return 'data analyst'
    elif 'database developer' in title:
        return 'database developer'
    elif 'data architect' in title:
        return 'data architect'
    else:
        return 'others'

# Apply the cleaning function to the column
df['Q1 - Which Title Best Fits your Current Role?'] = df['Q1 - Which Title Best Fits your Current Role?'].apply(clean_job_title)

# Count occurrences of each job title
job_title_counts = df['Q1 - Which Title Best Fits your Current Role?'].value_counts()

# Display the counts
print(job_title_counts)

Q1 - Which Title Best Fits your Current Role?
data analyst          407
others                149
data engineer          38
data scientist         28
database developer      5
data architect          3
Name: count, dtype: int64

In [40]:
df['Q1 - Which Title Best Fits your Current Role?'].unique()

array(['data analyst', 'data engineer', 'others', 'data scientist',
       'data architect', 'database developer'], dtype=object)

### Cleaning Question 3

In [32]:
# Function to calculate the midpoint of a salary range
def calculate_midpoint(salary_range):
    # Remove the 'k' character
    salary_range = salary_range.replace('k', '')
    # Split the range into lower and upper bounds
    lower, upper = map(int, salary_range.split('-'))
    # Calculate the midpoint
    midpoint = (lower + upper) / 2
    return midpoint

# Apply the function to the column
df['Salary Midpoint'] = df['Q3 - Current Yearly Salary (in USD)'].apply(calculate_midpoint)

# Calculate the average salary midpoint
average_salary = df['Salary Midpoint'].mean()

# Display the average salary
print(f"The average salary is: {average_salary:.2f}")

ValueError: invalid literal for int() with base 10: '225+'

### Cleaning Question 4

In [33]:
df['Q4 - What Industry do you work in?'].unique()

array(['Healthcare', 'Finance', 'Other (Please Specify):Clean Energy',
       'Other (Please Specify):Coworking space ',
       'Other (Please Specify):Retail', 'Telecommunication',
       'Other (Please Specify):Logistics',
       'Other (Please Specify):Igaming', 'Tech', 'Education',
       'Construction', 'Other (Please Specify):Aviation',
       'Other (Please Specify):Insurance',
       'Other (Please Specify):Energy',
       'Other (Please Specify):Oil and gas', 'Other (Please Specify)',
       'Other (Please Specify):Automotive',
       'Other (Please Specify):Automotive ',
       'Other (Please Specify):Utili',
       'Other (Please Specify):Not working yet',
       'Other (Please Specify):Manufa',
       'Other (Please Specify):Manufacturing (Chemicals)',
       'Other (Please Specify):Currently studying . Previously worked in Power Generation',
       'Other (Please Specify):Not working at the moment, but previously I have been into Education industry',
       'Other (Please Specify):Third Party Logistics ',
       'Other (Please Specify):Food & Beverage ',
       'Other (Please Specify):Marketing',
       'Other (Please Specify):Advertising',
       'Other (Please Specify):Staffing and Recruting ',
       'Other (Please Specify):Biotech',
       'Other (Please Specify):Consulting',
       'Other (Please Specify):Consumer Elec',
       'Other (Please Specify):Semiconductor manufacturing',
       'Other (Please Specify):Supply Chain - warehousing, transpiration and ',
       'Other (Please Specify):Distribution',
       'Other (Please Specify):Customer Service',
       'Other (Please Specify):Ecom', 'Other (Please Specify):Consulti',
       'Other (Please Specify):State Government',
       'Other (Please Specify):Culture',
       'Other (Please Specify):Government',
       'Other (Please Specify):Manufacturing',
       'Other (Please Specify):Cons', 'Other (Please Specify):Wholesale',
       'Other (Please Specify):Energy ',
       'Other (Please Specify):Government programs',
       'Other (Please Specify):Supply Chain',
       'Other (Please Specify):Entertainment',
       'Other (Please Specify):Aerospace',
       'Other (Please Specify):Foodservice Franchising',
       'Other (Please Specify):Government ',
       'Other (Please Specify):Entertainment ',
       'Other (Please Specify):Energy (oil and gas)',
       'Other (Please Specify):Market research',
       'Other (Please Specify):hospitality', 'Real Estate',
       'Other (Please Specify):Chemical Manufacturing',
       'Other (Please Specify):Poultry',
       'Other (Please Specify):Renewable Resources',
       'Other (Please Specify):Customer service ',
       'Other (Please Specify): Manufacturering ',
       'Other (Please Specify):sports',
       'Other (Please Specify):fashion/online store',
       'Other (Please Specify):I am a student',
       'Other (Please Specify):Marketing ',
       'Other (Please Specify):Hospitality ', 'Agriculture',
       'Other (Please Specify):Medical industry ',
       'Other (Please Specify):Management',
       'Other (Please Specify):Warehouse',
       'Other (Please Specify):Non profit Animal Welfare',
       'Other (Please Specify):Insurance ', 'Other (Please Specify):none',
       'Other (Please Specify):Social work ',
       'Other (Please Specify):E-commerce', 'Other (Please Specify):IT',
       'Other (Please Specify):Legal',
       'Other (Please Specify):Media & advertising ',
       'Other (Please Specify):Utilities',
       'Other (Please Specify):Audit Firm',
       'Other (Please Specify):Sports',
       'Other (Please Specify):Sports/Marketing',
       'Other (Please Specify):Nonprofit',
       'Other (Please Specify):Law Enforcement',
       'Other (Please Specify):last mile delivery logistics',
       'Other (Please Specify):Arrosp',
       'Other (Please Specify):Demography and Social Statistics ',
       'Other (Please Specify):i`m currently student',
       'Other (Please Specify):None', 'Other (Please Specify):Manuf',
       'Other (Please Specify):Student',
       'Other (Please Specify):Automobile Industry',
       'Other (Please Specify):Fmcg',
       'Other (Please Specify):NGO - Legislation ',
       'Other (Please Specify):Culinary',
       'Other (Please Specify):Customer support ',
       'Other (Please Specify):Cosmetics ',
       'Other (Please Specify):Digital Mar',
       'Other (Please Specify):Home maker ',
       'Other (Please Specify):I am student. ',
       'Other (Please Specify):Unemployed, trying to switch career',
       'Other (Please Specify):Utilities ',
       'Other (Please Specify):Maritime',
       'Other (Please Specify):Ecommerce',
       'Other (Please Specify):Electronics',
       'Other (Please Specify):Logistics and warehousing',
       'Other (Please Specify):Public transport',
       'Other (Please Specify):Urbanism', 'Other (Please Specify):Reta',
       'Other (Please Specify):Avia', 'Other (Please Specify):State',
       'Other (Please Specify):Looking for job',
       'Other (Please Specify):Sensors',
       'Other (Please Specify):Professional Services',
       'Other (Please Specify):Food and bece',
       'Other (Please Specify):Research (non-clincial)',
       'Other (Please Specify):Gover', 'Other (Please Specify):Defense',
       'Other (Please Specify):Foodservice',
       'Other (Please Specify):Data insights company',
       'Other (Please Specify):Not currently working',
       'Other (Please Specify):Food and Beverages',
       'Other (Please Specify):Government Administration',
       'Other (Please Specify):Outsourcing ',
       'Other (Please Specify):Cobsukting',
       'Other (Please Specify):Workforce ',
       'Other (Please Specify):General contractor',
       'Other (Please Specify):Police / Emergency Services',
       'Other (Please Specify):Consumer retail',
       'Other (Please Specify):Home and living',
       'Other (Please Specify):Non Profit Organization',
       'Other (Please Specify):Air transpo',
       'Other (Please Specify):Distribution ',
       'Other (Please Specify):None for now',
       'Other (Please Specify):Retails',
       'Other (Please Specify):Digital Marketing ',
       'Other (Please Specify):Homelessness',
       'Other (Please Specify):Retail ',
       'Other (Please Specify):Direct Marketing',
       'Other (Please Specify):FMCG',
       'Other (Please Specify):Taking bootcamp',
       'Other (Please Specify):Space & Defense',
       'Other (Please Specify):Automobile (cars)',
       'Other (Please Specify):Interning in Sciences, Weather and Meteorological data',
       'Other (Please Specify):Beverage and foods',
       'Other (Please Specify):Transportation'], dtype=object)

In [38]:
df['Q4 - What Industry do you work in?'] = df['Q4 - What Industry do you work in?'].apply(lambda x: 'Others' if 'Other (Please Specify)' in x else x)
df['Q4 - What Industry do you work in?'].unique()

array(['Healthcare', 'Finance', 'Others', 'Telecommunication', 'Tech',
       'Education', 'Construction', 'Real Estate', 'Agriculture'],
      dtype=object)

### Cleaning Question 5

In [7]:
df['Q5 - Favorite Programming Language'].str.lower()
print(df['Q5 - Favorite Programming Language'].unique())

['Python' 'R' 'Other:SQL'
 'Other:Mostly use sql but thatâ€™s not programming language..'
 'Other:Qlik sense script' 'Other:sql' 'Other:Power bi' 'JavaScript'
 "Other:If SQL is categorised as a programming language then I will definitely say SQL. Since I am still learning, I can't give a definite answer in relation to the abover mentioned but for the sake of choosing I will say R then followed by python"
 'C/C++' 'Other:I donâ€™t know any' 'Other:Sql' 'Other:Dont require' 'Other'
 'Other:Knowledge of Excel and SQL yet'
 "Other:I don't use programming in my role" 'Other:Excel/SQL'
 'Other:unknown' 'Other:SQL Postgres ' 'Other:DAX' 'Other:Vba'
 'Other:Stata' 'Other:Excel'
 'Other:I currently do not work with programming languages yet'
 'Other:Altery' 'Other:None' 'Other:c#' 'Other:SQL '
 'Other:Just started learning '
 'Other:i mean, i mostly work in SQL and its variants?' 'Java' 'Other:SAS'
 'Other:NA' 'Other:Mainly use Excel'
 'Other:SQL because that is all I know really well so far. ' 'Other:VBA'
 'Other:MATLAB' 'Other:Sql &  plsql' 'Other:Php' 'Other:SAS SQL'
 'Other:None at the moment' 'Other:excel'
 'Other:I do analysis and create presentations based on datasets provided by others']

In [39]:
valid_languages = ['python', 'r', 'sql', 'java', 'javascript']

df['Q5 - Favorite Programming Language'] = df['Q5 - Favorite Programming Language'].str.lower()

def clean_language(language):
    if language in valid_languages:
        return language
    elif 'sql' in language:
        return 'sql'
    elif 'java' in language:
        return 'java'
    elif 'javascript' in language or 'js' in language:
        return 'javascript'
    elif 'r' in language:
        return 'r'
    else:
        return 'others'
    
df['Q5 - Favorite Programming Language'] = df['Q5 - Favorite Programming Language'].apply(clean_language)
df.dropna(subset=['Q5 - Favorite Programming Language'], inplace=True)
print(df['Q5 - Favorite Programming Language'].unique())

['python' 'r' 'sql' 'javascript' 'others' 'java']

### Cleaning Question 11

In [35]:
df['Q11 - Which Country do you live in?'].unique()

array(['United States', 'Canada', 'Other (Please Specify):Nigeria',
       'Other (Please Specify):Republic democratic of Congo ',
       'Other (Please Specify)', 'Other (Please Specify):Serbia',
       'Other (Please Specify):Argentina', 'United Kingdom',
       'Other (Please Specify):Niger', 'Other (Please Specify):Kenya',
       'Other (Please Specify):Azerbaijan',
       'Other (Please Specify):Sudan', 'India',
       'Other (Please Specify):Japan', 'Other (Please Specify):Greece',
       'Other (Please Specify):PerÃº ', 'Other (Please Specify):Australia',
       'Other (Please Specify):Spain', 'Other (Please Specify):Kenya ',
       'Other (Please Specify):Barbados',
       'Other (Please Specify):South Africa',
       'Other (Please Specify):Colombia',
       'Other (Please Specify):Germany',
       'Other (Please Specify):Bulgaria', 'Other (Please Specify):Turkey',
       'Other (Please Specify):France', 'Other (Please Specify):Thailand',
       'Other (Please Specify):Netherlands',
       'Other (Please Specify):Denmark', 'Other (Please Specify):Brazil',
       'Other (Please Specify):Mexico', 'Other (Please Specify):Chile',
       'Other (Please Specify):Costa Rica',
       'Other (Please Specify):Vietnam',
       'Other (Please Specify):Nigeria ',
       'Other (Please Specify):Portugal', 'Other (Please Specify):turkey',
       'Other (Please Specify):Egypt', 'Other (Please Specify):Pakistan',
       'Other (Please Specify):Ireland ', 'Other (Please Specify):Poland',
       'Other (Please Specify):Mozambique',
       'Other (Please Specify):Egypt ', 'Other (Please Specify):Israel',
       'Other (Please Specify):Singapore',
       'Other (Please Specify):Belgium', 'Other (Please Specify):UAE',
       'Other (Please Specify): Somalia', 'Other (Please Specify):Kosovo',
       'Other (Please Specify):Iraq', 'Other (Please Specify):Romania',
       'Other (Please Specify):Peru',
       'Other (Please Specify):Philippines',
       'Other (Please Specify):Malaysia',
       'Other (Please Specify):nigeria', 'Other (Please Specify):Ghana',
       'Other (Please Specify):Portugsl',
       'Other (Please Specify):Macedonia', 'Other (Please Specify):Irel',
       'Other (Please Specify):Morocco',
       'Other (Please Specify):Costa Rica ',
       'Other (Please Specify):Iran',
       'Other (Please Specify):South Africa ',
       'Other (Please Specify):Bangladesh ', 'Other (Please Specify):Ire',
       'Other (Please Specify):Antigua ',
       'Other (Please Specify):Venezuela',
       'Other (Please Specify):Brazik',
       'Other (Please Specify):South Korea',
       'Other (Please Specify):Panama',
       'Other (Please Specify):indonesia',
       'Other (Please Specify):Angola',
       'Other (Please Specify):Africa (Nigeria)',
       'Other (Please Specify):Fin', 'Other (Please Specify):Austr',
       'Other (Please Specify):Leba',
       'Other (Please Specify):Saudi Arabia',
       'Other (Please Specify):United Arab Emirates ',
       'Other (Please Specify):Zambia', 'Other (Please Specify):ghana',
       'Other (Please Specify):Uruguay',
       'Other (Please Specify):Indonesia',
       'Other (Please Specify):Hong Kong',
       'Other (Please Specify):TUNISIA',
       'Other (Please Specify):Sri lanka', 'Other (Please Specify):Kenua',
       'Other (Please Specify):Argentina ',
       'Other (Please Specify):Liberia', 'Other (Please Specify):SG',
       'Other (Please Specify):Aisa', 'Other (Please Specify):Argentine',
       'Other (Please Specify):Sweden',
       'Other (Please Specify):Saudi Arabia ',
       'Other (Please Specify):Algeria', 'Other (Please Specify):Ireland',
       'Other (Please Specify):uzb', 'Other (Please Specify):Morocco ',
       'Other (Please Specify):Oman'], dtype=object)

In [37]:
# Replace 'Other (Please Specify)' entries with 'Others'
df['Q11 - Which Country do you live in?'] = df['Q11 - Which Country do you live in?'].apply(
    lambda x: 'Others' if 'Other (Please Specify)' in x else x
)
print(df['Q11 - Which Country do you live in?'].unique())

['United States' 'Canada' 'Others' 'United Kingdom' 'India']

# Data Validation Summary


Columns that clean and validated

Question 1 - Grouping 'others' into one making a 6 uniques choices into ['data analyst', 'data engineer', 'others', 'data scientist', 'data architect', 'database developer']

Question 3 - Will continue in Power Query Editor

Question 4 - Grouping 'others' into one making a 9 uniques choices ['Healthcare', 'Finance', 'Others', 'Telecommunication', 'Tech', 'Education', 'Construction', 'Real Estate', 'Agriculture']

Question 5 - Grouping programming languages into ['python' 'r' 'sql' 'javascript' 'others' 'java']

Question 11 - Grouping countries into ['United States' 'Canada' 'Others' 'United Kingdom' 'India']

### Creating a new clean dataset

In [41]:
df.to_excel('clean_dataset.xlsx', index=False)